[2018-04-02 09:16] redorav opened #1 "Add function ternary() or select() to mimic the missing ternary operator"

[2018-04-02 09:16] redorav opened #2 "Add modf"

[2018-04-02 09:16] redorav opened #3 "Add atan2"

[2018-04-02 09:17] redorav opened #4 "Add boolN types"

[2018-04-02 09:17] redorav opened #5 "Add matrix swizzling"

[2018-04-02 09:32] redorav opened #6 "Add rcp()"

[2018-04-02 09:53] redorav opened #7 "Add shift operators to intN"

[2018-04-10 21:25] #7 closed

[2018-04-10 21:26] redorav commented on #7
Close via ae58cd432901d8c3fb03e3af4954729256ed8430

[2018-04-17 13:13] redorav opened #8 "Optimize NEON shuffles"
They're too generic currently and inefficient. We can probably specialize most combinations using constructs such as

vcombine_f32(vget_high_f32(x), vget_low_f32(y))
vrev64q_f32(x)

etc.

[2018-04-21 20:49] #6 closed

[2018-05-07 13:17] jonathansty opened #9 "Wrong value when flooring Y Component."
Below code snippet is the current behaviour for me.
[code]
The floor function seems to be flooring my x component and returning that value instead of the Y component.

[2018-05-07 23:15] redorav commented on #9
I see, there's an issue with some functions that return a floatN type instead of the swizzled components, which means the swizzle is lost through the function call. It affects other functions too, I'll take a careful look to fix them.

[2018-05-07 23:43] redorav commented on #9
Fixed via 4430ace056655999da3c626de26c100e16d8f547

[2018-05-07 23:43] #9 closed

[2018-08-19 21:35] redorav opened #10 "Add functions to create projection matrices"
Add options like different ndcs, handedness, etc.

[2019-03-25 20:12] redorav opened #11 "Add AVX/AVX2 version of functions"

[2019-03-27 01:44] CJT-Jackton opened #12 "Add refract"
I think the function `refract` is missing. The following code is stolen from [here](https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/refract.xhtml). `I` is the incident vector, `N` is the normal vector, and `eta` is the ratio of indices of refraction.

[code]

Please add it thank you.

[2019-03-27 15:59] redorav commented on #12
I'll take a look this evening and do some tests to see that it behaves like in fxc and I'll add it. Thanks!

[2019-03-27 20:20] redorav commented on #12
Fixed via ec88eb16d1c90be0422319cb5caca533faffdec6

[2019-03-27 20:20] #12 closed

[2019-03-28 13:54] redorav opened #13 "Add doubleN types"

[2019-03-28 13:55] redorav opened #14 "Add mad function"
Apparently hlsl actually has a mad function

[2019-04-10 12:22] redorav opened #15 "Add bit manipulation functions"
countbits
reversebits
firstbithigh
firstbitlow

[2019-04-10 12:25] redorav commented on #15
countbits
reversebits
firstbithigh
firstbitlow

[2019-04-15 02:26] shipp108 opened #16 "vceilq_f32"
[code]
**"float32x4_t gt = vcgtq_f32(trnc, x);" should be modified to "float32x4_t gt = vcgtq_f32(x, trnc);"**

[2019-04-15 23:51] redorav commented on #16
Fixed via d674694d25dafe7dcd915faaa44af25bb1338cc1. I've fixed the Android build to be able to use std math functions and added the tests for ceil and floor which were easy to set up. Thanks for reporting!

[2019-04-15 23:51] #16 closed

[2019-04-18 22:40] redorav opened #17 "Add scalar version of library"
Add a non-vectorized version of the library. This can allow to mix and match on platforms (like NEON 32-bit) that don't have vectorized double types but may want to use the math lib. It can also help in future comparisons between vectorized code and scalar code.

[2019-05-17 10:41] davidebaltieri31 opened #18 "_hlslpp_sel_ps NEON"
I think there is a mistake in the NEON definition of _hlslpp_sel_ps
The SSE definition is
#define _hlslpp_sel_ps(x, y, mask)				_mm_blendv_ps((x), (y), (mask))
which is correct, whem mask is 1 y is selected otherwise x
in NEON
#define _hlslpp_sel_ps(x, y, mask)				vbslq_f32((mask), (x), (y))
which should be
#define _hlslpp_sel_ps(x, y, mask)				vbslq_f32((mask), (y), (x))
in vbslq_f32 when mask is

[2019-05-19 20:19] redorav commented on #18
I think you're right. Interestingly _hlslpp_blend_ps was alright, I negated the mask to account for it. What I've done now is reverse the operands and not negate the mask anymore. Thanks!

[2019-05-19 20:19] redorav commented on #18
Fixed via 85e8e0df97659c16e839d9eceafefe6b6eb58500

[2019-05-19 20:20] #18 closed

[2019-05-29 11:20] redorav opened #19 "Add integer operators (bitwise, modulo)"
~, <<, >>, &, |, ^, <<=, >>=, &=, |=, ^=

Also modulo %

[2019-06-06 11:07] redorav opened #20 "Add operator [ ]"
For vectors and matrices. Vectors return a float1, matrices a float4

[2019-06-09 13:37] redorav commented on #2
Close via 0ef7e763472917c3ea643bcfb4f036a69525cd2f and 0462848fae875de7a4e33351b676435e1e96b7c4

[2019-06-09 13:37] #2 closed

[2019-07-13 14:46] diogovtx opened #21 "Broken lerp"
Lerp seems to be broken. Had to revert to path marked as slower in _hlslpp_lerp_ps in order to get it working.

[2019-07-13 15:05] diogovtx opened #22 "Add sincos"
hlslpp has been great so far. Great job.

Only had one issue with the code I tried to port some hlsl code, the lack of sincos():
https://docs.microsoft.com/en-us/windows/win32/direct3dhlsl/dx-graphics-hlsl-sincos

[2019-07-13 15:24] redorav commented on #21
Hi @diogovtx,

Thanks for reporting. You are 100% correct that it is wrong, I was using msub instead of subm. This is what happens when you don't have enough unit tests :)

I have realized that there are actually precision implications from using one over the other. I have checked with fxc and the version I had tagged as slower is actually more correct. Since the second one was just marginally slo

[2019-07-13 15:24] #21 closed

[2019-07-13 15:26] #17 closed

[2019-07-14 16:15] diogovtx opened #23 "Add load"
I noticed there's store() but no load(). There is a section specified as "Float Store/Load" but load is missing. Just making sure it's not forgotten. Would be handy.

[2019-07-14 16:20] diogovtx commented on #11
I wonder if it would be worth it to have float8 (for avx256) and float16 (for avx512) section. Would be a superset of actual hlsl, but could be handy. Maybe even add some calls to query their availability at runtime.

Just wondering if it would be possible and if there are negative implications going down this path. Asking because hlslpp is a very accessible, and readable way to write simd code in

[2019-07-14 16:49] redorav commented on #11
@diogovtx Sure, I've always thought of extending hlsl++ to things that technically aren't in hlsl but easily derive from it. To some extent I already have, take for example the quaternion class. I would like to do float8 and float16, although I'd need to see how to add support to it on platforms that don't have such wide registers.

I'm not quite sure how to do that last part. I started doing doub

[2019-07-14 17:16] diogovtx commented on #11
I guess you'd have to rely on compiler preprocessor to conditionally enable float8 and float16. They could simply be unavailable, or emulated using float4.

When enabled by the preprocessor, responsibility would fall on the programmer using hlslpp to ensure the supported path is taken at runtime. Some hlslpp runtime query calls could help with that, using API calls outside of hlsl spec ofc.

[2019-07-14 17:26] redorav commented on #11
I'm not sure I understand what you mean by runtime query calls, do you mean to inform the user that there is hardware support for the feature they're trying to use?

[2019-07-14 19:16] diogovtx commented on #11
Yes. That's what I meant. Sorry if I wasn't clear.

[2019-07-16 18:31] redorav commented on #23
Fixed via f68194c6d4ddfda9aa41c619679cf1412b56a643

[2019-07-16 18:31] #23 closed

[2019-08-16 10:01] redorav opened #24 "Add nodiscard to all relevant functions"

[2019-10-13 12:01] redorav commented on #24
Fixed via db104f17769c651f60e0a03daefa6615bac242ca

[2019-10-13 12:01] #24 closed

[2019-10-13 12:48] redorav commented on #11
@diogovtx I have recently introduced the float8 type. Unfortunately the nice swizzles that were possible with smaller types end up in a combinatorial explosion (8^8) so instead there's a templated swizzle function that serves that purpose. I took a look at OpenCL and it's not clear what they provide in the docs, I think short of language support this can't be done. Anyhow, the functionality is the

[2019-10-13 12:51] redorav commented on #22
Fixed via 58dc5ee487376d048afedbe63ee5cb758abc1d3d

[2019-10-13 12:51] #22 closed

[2019-10-13 13:00] redorav commented on #14
Fixed via e656efd0fb2d4d96e9bf3d8b2679079283030b09

[2019-10-13 13:00] #14 closed

[2019-11-20 17:32] redorav opened #25 "Add Appveyor jobs for Linux and MacOS"

[2019-11-30 11:44] #25 closed

[2019-11-30 11:44] redorav commented on #25
Added both Linux and OSX builds to AppVeyor, and remove the Travis CI builds

[2019-11-30 21:01] redorav opened #26 "Add preincrement/postincrement operators"
++, --

[2019-11-30 22:09] redorav commented on #19
Fixed via dbd62a65eb149384199c949be4255a2d4ef84caa

[2019-11-30 22:09] #19 closed

[2019-11-30 22:10] redorav opened #27 "Add modulo operator"
Apparently float also accepts the modulo operator so it needs to be added to every type

[2019-11-30 22:14] #13 closed

[2019-12-01 12:25] redorav opened #28 "Add SSE2 fallbacks"
Seems simple enough, it's these functions:

// Float
_mm_blend_ps
_mm_blendv_ps
_mm_trunc_ps
_mm_round_ps
_mm_ceil_ps

// Int
_mm_blend_epi16
_mm_mullo_epi32
_mm_mul_epi32
_mm_max_epi32
_mm_min_epi32

// Double
_mm_blend_pd

[2019-12-09 16:45] Xottab-DUTY opened #29 "Compare with GLM"
https://github.com/g-truc/glm
It wll be reasonable to provide something like a table of hlslpp vs glm features

[2019-12-09 18:40] redorav commented on #29
Hi @Xottab-DUTY, thanks for your suggestion, I took a look at hlml as I hadn't heard of it, thanks for the heads up.

It makes sense to do a table, perhaps to highlight what hlsl++ wants to be and where its strengths lie. It certainly cannot compete with the fantastic glm in many aspects but it caters to a specific group of people who not only want a familiar syntax but also a lean no-extras inclu

[2019-12-13 19:18] redorav commented on #15
Fixed via 276b2af4aaad4b5fa266fada50bccf75f2b861d5

[2019-12-13 19:18] #15 closed

[2019-12-13 19:39] redorav commented on #26
Fixed via bec38f24ee498aafc92e534b45658dd7d6fed9fa and 422648242cfb325e24845a332fa44142ff2206b2

[2019-12-13 19:39] #26 closed

[2019-12-13 20:08] redorav commented on #28
This has already been implemented, but I need to add a configuration that tests SSE2 compilation as it's currently defaulting to AVX

[2019-12-16 11:35] redorav commented on #27
Needs to implement integer division for a generic working solution. Looks like it's not going to be a simple task

[2019-12-16 11:38] redorav commented on #20
I think this solution will necessarily be less efficient than using the swizzles directly, because doing something like

will swizzle twice. Since these kinds of operations are SIMD-unfriendly anyway, it won't be such a big deal. In the case of matrices, returning a float4 is enough and won't incur in any penalty. As a bonus, if a matrix does something like matrix[0][0], this will use the [] opera

[2019-12-28 20:45] redorav opened #30 "Make unit tests run as part of the AppVeyor builds"

[2019-12-30 12:35] redorav commented on #28
Fixed via 8ca8da36647ad960b894ff1c7855d45248eb692e

[2019-12-30 12:35] #28 closed

[2019-12-30 17:02] redorav opened #31 "Optimize double vectors using AVX"
This is already halfway done, but here for keeping track. Takes advantage of AVX support to pack double3 and double4 into __m256d instead of two __m128d

[2019-12-30 23:11] redorav opened #32 "Unit tests should output a performance file"

[2019-12-30 23:48] redorav commented on #31
Implemented via 36d23eacca2b083f8098e6d922f272bb37650061

[2019-12-30 23:48] #31 closed

[2020-04-29 21:38] redorav opened #33 "Add uintN type"

[2020-04-29 22:19] #33 closed

[2020-04-29 22:19] redorav commented on #33
Closed via c6d596e749e0c12f9b97d83d7a1767629458faf5

[2020-09-12 17:18] Benualdo opened #34 "Add "any" and 'all' syntax to branch according to vector comparison result"
Hi,
I would found it very useful to add the 'any'/'all' HLSL syntax to branch according to vector comparison result.

ie.
[code]
Operators like intN operator != could return boolN to make it even clearer to use.

Thanks,
Benoît.

[2020-09-12 20:02] Benualdo opened #35 "uint4 components stored in reverse (w, z, y, x) order ? (SSE)"
Considering the following declarations :
[code]
float4 components are in expected order (x, y, z, w) in memory, but uint4 components are in reverse order (w, z, y, x)

![image](https://user-images.githubusercontent.com/24933896/93003956-46f07880-f543-11ea-9ef2-1928458df05d.png)

[2020-09-12 20:04] Benualdo commented on #35
int4 does not have the issue by the way.
![image](https://user-images.githubusercontent.com/24933896/93004061-f62d4f80-f543-11ea-8afc-8767cdcb6a12.png)

[2020-09-12 20:09] Benualdo commented on #35
A potential suspect ... :)

![image](https://user-images.githubusercontent.com/24933896/93004148-9be0be80-f544-11ea-915c-22276b618660.png)

[2020-09-12 20:46] redorav commented on #35
Hi @Benualdo, you are absolutely right, what a silly mistake. Thanks for reporting and even looking into it. I will fix that asap. I still haven't gotten to doing the uint unit tests so that very simple thing slipped.

[2020-09-12 20:47] redorav commented on #35
Fixed via fb356286e6e791a9bacb636a230bfe23d9872d81, thanks for reporting!

[2020-09-12 20:47] #35 closed

[2020-09-12 22:11] redorav commented on #34
I've gone and implemented this functionality with vector instructions and added unit tests. I'll wait for you to reply on the pull request in case you still want to put forward the unimplemented functionality or would rather I do it. Let me know.

In terms of implementing boolN I thought about it from the very beginning but hlsl is a bit weird in how it treats bools (they can be implicitly convert

[2020-09-12 22:11] #34 closed

[2020-09-12 22:11] redorav commented on #34
Fixed via 0b370decef929dfec519dfdff8b00d1564c609a9

[2020-10-28 22:11] redorav commented on #3
Closed via eefb42f132a11337e5d907c6f2c409587a6a16c1

[2020-10-28 22:11] #3 closed

[2021-01-07 11:07] egorodet opened #40 "HLSL++ structs do not support move-semantics"
HLSL++ vector and matric structs have user-defined copy constructor which breaks ["rule of zero"](https://en.cppreference.com/w/cpp/language/rule_of_three), but do not define copy assignment, move constructor and move assignment operators which also means that these types also do not follow "rule of five" resulting in missing support of move semantics and lower performance when used in STL contain

[2021-01-07 14:12] redorav commented on #40
Hi @egorodet I think in theory you're right, although in practice I'm seeing the compiler is allowing std::move to happen on a vector<float4x4> with no issues both using LLVM and MSVC. Have you found otherwise in practice?

I actually am going to agree nonetheless that it's simpler to just remove the copy constructors everywhere and let the compiler do its thing which its going to do correctly any

[2021-01-07 14:14] redorav commented on #40
As an aside, I have found through investigating some inconsistencies in the empty constructor, where for some structures I zero-initialize but for some I don't. I'm going to fix them all as well as part of that commit.

[2021-01-07 14:20] redorav commented on #40
Closed via 0a78236cc448a2b3279d15161a53c1e2c512256c

[2021-01-07 14:20] #40 closed

[2021-01-07 14:23] egorodet commented on #40
[According to C++ standard](https://en.cppreference.com/w/cpp/utility/move) `std::move` is used to indicate that an object may be "moved from" and C++ compilers silently default moves to copy constructor when move constructors are not provided or not generated automatically for types. This is done for backward compatibility with an old C++ code - it will work correctly, but not so fast as with cor

[2021-01-07 14:27] egorodet commented on #40
In the last commit I've noticed that `floatN` vector types data is still not initialized in default constructors.

[2021-01-07 14:29] redorav commented on #40
Yeah I understand what you're saying wrt std::move. The piece of code I was trying out was

[code]

Looking at myVector, the move had correctly succeeded as it was now invalid and all the content belonged to myVector2, so I think shows it was allowing the move even though by the letter it shouldn't have.

[2021-01-07 15:09] egorodet commented on #40
`std::move` does not strictly mean to move or fail when no move constructor available. It is just an indication for compiler that it can reuse memory when it is possible (i.e. move constructor is available for the type). When actual move is not possible the compiler falls back to copy, even when you written `std::move` and does not produce any compilation errors - this behavior is according to C++

[2021-01-07 15:45] redorav commented on #40
I think I need to read up on move semantics more as I think I don't quite understand all the different subtleties involved. In your original message you were saying

so I thought that float4x4 not having a move constructor would somehow inhibit std::vector's move operation, which is why I was doing the test. I suppose now you're talking about moving the float4x4 itself, or creating a structure on

[2021-01-07 15:59] egorodet commented on #40
`std::vector` is using move semantics of its elements internally to optimize many operations, for example you can read this article explaining the details: https://embeddeduse.com/2016/05/25/performance-gains-through-cpp11-move-semantics/

[2021-01-09 16:30] egorodet commented on #40
User-defined copy constructor still exists for `float4x4` matrix type, but should be removed:
[code]

[2021-01-10 16:52] egorodet opened #41 "Vector comparison operators are not available for doubles and uints"
`operator ==, !=, <, <=, >, >=` is not implemented for `double1`, `double2`, `double3`, `double4` types and the implementation is commented out for `uint1`, `uint2`, `uint3`, `uint4`. Meanwhile these operators are properly implemented for floats and ints.

I'm trying to use vector types in my template wrapper class `Point<T, N>` which is used with floats, ints, uints and doubles and its is current

[2021-01-10 19:10] redorav commented on #41
Ah yes, I have part of the code implemented locally. It shouldn't take long to add at all. Let me give it a quick go. I've always had issues determining what the == operator should return, either 0xffffffff or 1.0f for the result. Hlsl I think interprets it differently depending on what you do with it after, and will either treat it as a mask, treat it as a float with values 1.0 or 0.0, or treat i

[2021-01-10 22:34] redorav commented on #41
Closed via 0191d994945fddc1a675afd2953d17369b370b38

[2021-01-10 22:34] #41 closed

[2021-01-13 21:20] #10 closed

[2021-01-23 15:38] jonathansty opened #42 "Matrix comparison operators"
Matrices currently do not have any comparison operators defined for them. I can get around it by writing my own operators manually but it would be nice if these were built-in in hlslpp.

## Build output
[code]

[2021-01-23 17:20] redorav commented on #42
@jonathansty I have implemented comparison operators for the square matrices and added any/all functions should you need to check whether all or any of the components are != 0. I'll get around to adding them for all other matrices at some point.

Fixed via ccaa72cc34c7af9480625a4577ef196a19b7616a

[2021-01-23 17:20] #42 closed

[2021-01-24 17:51] redorav opened #43 "Add overloads for float"
It is ambiguous to do things like hlslpp::radians(0.3f) because float can be implicitly converted to floatN. Even if it's not the purpose of hlsl++ to provide scalar versions of these functions it's probably not hard and makes it more complete

[2021-02-02 17:32] egorodet opened #44 "Double vectors are not initialize with zeroes in default constructors"
Other vector types have proper initialization of the internal storage with zeroes, but double vectors do not.

[2021-02-02 17:34] egorodet opened #45 "Integer vectors do not define /= operator"
Floating point vector types have /= operator, but integer vectors do not.

[2021-02-02 17:41] redorav commented on #45
This is a tricky one. Integer division is not well supported at all in SIMD. I'll give it some thought and see what I can come up with (unless of course you want to give it a shot)

[2021-02-02 21:28] redorav commented on #45
Actually, I can implement the operator just fine. The problem lies in the _hlslpp_div_epi32 implementation, which at the moment simply casts to float, divides, and casts back. It's clearly wrong and needs a better "software" implementation, since as far as I know there are no instructions that implement integer divide in SSE. I could be mistaken. NEON does appear to support it.

[2021-02-02 21:38] redorav opened #46 "Integer division needs better implementation in SSE"
SSE doesn't have native division instructions for vectors. One possibility is to extract the scalars, divide, then put back. Another alternative is to take a look at this website which seems to have alternatives and claim to be fast

http://libdivide.com/

[2021-02-02 21:38] redorav commented on #45
Close via e391137faee2311bc3646717359862d0578064ad

[2021-02-02 21:38] #45 closed

[2021-02-02 21:38] redorav commented on #44
Close via e391137faee2311bc3646717359862d0578064ad

[2021-02-02 21:38] #44 closed

[2021-02-07 14:42] CUSkidmore opened #47 "Double precision matrix support"
Would you consider adding support for double precision matrix such as double4x4?

[2021-02-07 17:28] redorav commented on #47
Hi @CUSkidmore it is always my plan to expand hlsl++ beyond its capabilities and make it as useful as possible. It isn't a priority right now as it's a big chunk of work, and there are several considerations such as SSE/AVX implementation. I'll leave it here in case there is more demand or even if you want to tackle it. As a matter of curiosity, what application would you use them for?

[2021-02-23 13:47] egorodet opened #48 "GCC build error and MSVC warning on invalid cast of an rvalue"
Latest version of HLSL++ doest not build with GCC & MSVC at maximum warning level:
- [GCC errors example](https://egorodet.visualstudio.com/MethaneKit/_build/results?buildId=1258&view=logs&j=1287b841-589e-5c11-50b2-be5413241f28&t=d733a97e-f208-5206-76d9-21f22078e132): `hlsl++_sse.h:792:41: error: invalid cast of an rvalue expression of type ‘__m128’ {aka ‘__vector(4) float’} to type ‘const n128i&’

[2021-02-23 13:50] redorav commented on #48
You're right, I'm a bit confused as to why the CI says the build completed succesfully when clearly it's full of errors. I'll fix it this evening right after work.

[2021-02-23 13:52] redorav commented on #48
Just for reference, here's the build where it's clearly broken. https://ci.appveyor.com/project/redorav/hlslpp/build/job/n435avvya2hpw8d9

It's probably a simple fix to reinterpret cast the pointer instead of casting to a const&

[2021-02-23 13:54] redorav commented on #48
Apple Clang build is also broken but reporting successfully :( thanks for your reports @egorodet they're invaluable in some of these fixing some of these glaring oversights

[2021-02-24 19:48] redorav commented on #48
The solution was actually a lot simpler than I was thinking. I also found a way for Linux and Apple builds to correctly report failures in AppVeyor. Let me know if there are any more issues. Fixed via 2eb2727e05ba15ec82d8c01882a713fcb3c562e1 and 908389bab54d9206c4905391db91fc40c7c85192

[2021-02-24 19:48] #48 closed

[2021-03-06 15:55] bransay opened #49 "Fast affine inverse support"
There are lots of cases in animation require computing the inverse of affine matrices, there are many assumptions that one can make when a 4x4 matrix is an affine transformation, any chance something like that would be considered?

(p.s. this is Bryan from PG ;))

[2021-03-06 21:30] redorav commented on #49
Hey Bryan it's good to hear from you, hope it's going well crafting mines :)

Of course there is scope for such functionality, something like inverse_affine would fit right in (I mean even the regular inverse isn't part of hlsl), I don't know when I'll get to it or whether you wanted to contribute it, I'll leave this open either way. I'll be happy to accept a PR or get on it as soon as I have a ch

[2021-03-06 21:32] bransay commented on #49
nice, i might try my hand at it at some point :)

[2021-04-22 20:17] redorav opened #51 "Rename vecN in the natvis to rowN"
For clarity, as the physical layout doesn't necessarily match (e.g. float4x3 and float3x4 have same physical layout)

[2021-04-25 15:20] egorodet opened #52 "Move constructors are not auto-generated for matrix types anymore"
Hi @redorav,
I've noticed that in [one of the latest commits](https://github.com/redorav/hlslpp/commit/e88f7906c725c9f24736abb260f3ed2c1c8ec580#diff-92e7f4a7e7f44253b303fdfbcb627c940aead14c09f0f4bbe7c07e4e13a2c7ad) you've added manual implementation of the copy constructors and copy assignment operators to matrix types. As the result, C++ compiler does not generate move constructors and assignment

[2021-04-25 16:24] redorav commented on #52
Hi @egorodet, apologies, I meant to send you a message and life got in the way and I forgot :(

I wanted to see what your suggestions are in terms of implementing the necessary move constructor because we had this conversation before. I had a bug where a templated copy constructor in the swizzle class was wrong, and fixing that meant I had to have a manual implementation of the copy constructor (b

[2021-04-25 20:12] redorav commented on #52
Just as an example, is it fine to implement a move constructor basically like a copy constructor (as there's no memory really allocated by the vector)

[2021-04-26 10:04] #51 closed

[2021-04-26 10:05] redorav commented on #51
Fixed via 9706d6cacf2836c3302d61d7729e86b8ba0b66f5

[2021-04-30 20:22] redorav commented on #52
Thanks for that link, I can see why noexcept can be important in some cases. I am implementing them right now and I'll be committing them soon. There are some issues with some older compilers that don't support noexcept so I'll have to make some special define as well for that.

[2021-05-01 22:18] redorav commented on #52
I have added move constructors and specified noexcept on all constructors as well. Hopefully this fixes your issues and we're back to where we were before. Thanks again for reporting and helping out.

[2021-05-01 22:18] #52 closed

[2021-05-15 13:32] egorodet commented on #52
Thank you, @redorav. I've integrated latest changes of HLSL++ into MethaneKit develop branch and [static analysis](https://sonarcloud.io/dashboard?branch=develop&id=egorodet_MethaneKit_Windows) did not show any new issues. It's worth to note that `noexcept` is usually used only for trivial move-constructors and move-assignment operators, because they are supposed to not allocate any dynamic memory

[2021-09-02 11:52] zhaijialong opened #53 "type size and alignment"
hi,

hlslpp looks great，the only reason which prevents me to use it is the size and alignment of each types.
float1/2/3 is 16 bytes, and every floatN(xM) in hlslpp has alignment of 16 bytes(rather than 4).
that's very different from hlsl, we can't share some code between c++ and hlsl, such as some buffer struct defines.

any thoughts about it ? thanks.

[2021-09-02 13:57] redorav commented on #53
Hi @zhaijialong, thanks for your question. Hlslpp is developed to use SIMD, and it tries very hard to stay in "SIMD-land" as much as possible. The consequences of these decisions are:

a) All vectors and matrices use hardware vectors. float1, float2, float3, and float4 are always 16 bytes. Making these float would undermine the goal of keeping everything SIMD
b) Different SIMD implementations **ca

[2021-09-03 02:01] zhaijialong commented on #53
ok, that makes sense, thank you for your detailed reply.

[2021-09-03 02:01] #53 closed

[2021-09-07 19:11] alighazi opened #54 "compatiblity with opengl?"
I tried replacing  handmademath with this library in my opengl application but it broke.

[2021-09-07 19:31] redorav commented on #54
Hi @alighazi, thanks for your message. I had a look at HandmadeMath to see what it was, it looks like an interesting math library. However from your message I don't understand the connection between it and opengl.

As for the problem you're having, could you be more specific? Saying it broke doesn't really give me any clues with which to help you out. Are you experiencing a bug? Does it not compil

[2021-09-08 07:56] alighazi commented on #54
Hi @redorav thanks for the answer.

you can for example replace handmademath with hlslpp here and try it out
https://github.com/GeertArien/learnopengl-examples/blob/master/src/1-9-camera/3-look.c
my program is kinda similar and for me it didn't render anything. If my implementation is alright (which might not be) then it means it breaks because the math is a bit different between opengl and direct

[2021-09-08 08:38] redorav commented on #54
Hi @alighazi, I took a quick look at the code but I need something more specific than a file with code.

Off the top of my head there are some differences between OpenGL and DIrectX in the view matrix, the projection matrix, and some math functions such as frac vs fract, etc. HLSL++ makes some assumptions that are common in DirectX, but are configurable. There are also differences in the logical m

[2021-09-08 09:15] alighazi commented on #54
ok do you know how view and projection matrix are different vs opengl?
Also how in hlslpp I can switch matrix layout (row <=> column) without having to transpose ?

[2021-09-08 09:20] redorav commented on #54
OpenGL and DirectX have historically favored different handedness regarding view and projection matrices, but also regarding the depth range DirectX is [0, 1] and OpenGL [-1, 1]

Typically you'll want to look at hlsl++_transform_common.h

[code]

[code]

and

[code]

[2022-01-30 13:40] xXPancakeXx opened #55 "Better inclusion manual for usage in existing project"
It would be nice if it would contain a manual on how to incorporate it into an existing VisualStudio solution to be able to quickly use this awesome library. For example which settings have to be checked for a successful compilation or what else to pay attention to, because simple including the headers doesn't work.

I think that would be great, because it enables inexperienced c++, vs pipeline us

[2022-01-30 16:29] redorav commented on #55
Hi @xXPancakeXx, thanks for the feedback. What steps would you suggest for the integration? Where did it go wrong for you and how did you fix it? One thing I can think of now that you're telling me is that you need to add hlsl++ to your include paths, which I can definitely add to the instructions. Feel free to make as many suggestions as you want and we can make it work :)

[2022-01-31 12:42] xXPancakeXx commented on #55
What I did, that didn't work:
- Generated the workspace project with include generator.
- Then took the VS Project and included it into my already existing solution and added the include-path to the project in the settings under C/C++ additional include dirs.
- Now when I want to use e.g. a float3 it errors on compilation, for all files saying basically nothing was found.

When opening the generat

[2022-01-31 12:48] redorav commented on #55
Hi @xXPancakeXx did you try using float3 directly? Hlsl++ uses the hlslpp namespace, so I would try:

- hlslpp::float3 or
- using namespace hlslpp; and then use it as is presented in the samples

Let me know if that solves your issue

[2022-01-31 12:59] xXPancakeXx commented on #55
I tried both ways. None worked.

It must be some compiler settings in VS. Can you please elaborate on the steps you take especially in VS when adding the library to an existing project?

[2022-01-31 13:04] redorav commented on #55
To be honest is should just be a question of adding the path to the includes. Here's an example

![image](https://user-images.githubusercontent.com/700032/151798427-7eff2e6b-c926-4a88-84c2-a1a58d34cc54.png)

[2022-01-31 13:07] xXPancakeXx commented on #55
Thats the same thing I did, and it doesn't work for me.
What is your exact folder structure? Where is your hlslcpp located?

[2022-01-31 13:17] redorav commented on #55
I don't know if this is relevant but the project is **hlslpp** and not **hlslcpp**, just looking out for that in case it's a typo that's giving you problems.

Disregarding that, in your project Runner there is a file called Runner.cpp and I'm assuming you're including hlsl++.h from there. Then in your Project Runner you should right click, properties and follow the screenshot I sent earlier. You n

[2022-01-31 14:06] xXPancakeXx commented on #55
I did use the right, only made a typo in GitHub

The problem is that this is exactly what I did.

![image](https://user-images.githubusercontent.com/22404008/151806310-6c611e26-1465-4a08-a926-cc5c0f7772d9.png)
Also tried it with an absolute path
![image](https://user-images.githubusercontent.com/22404008/151807058-03a6baa8-373e-433b-9c4f-dc30cf9b7785.png)

And tried it with nothing in there. Alway

[2022-01-31 14:06] redorav commented on #55
Can you post here the errors that you're getting?

[2022-01-31 14:13] xXPancakeXx commented on #55
Yes, I am compiling it in Release mode.

Of course:
1>D:\Bsc\SparseVoxelDAGs\NativePluginSource\hlslpp-3.1\include\hlsl++_vector_float.h(1329,23): error C2059: syntax error: 'const'
1>D:\Bsc\SparseVoxelDAGs\NativePluginSource\hlslpp-3.1\include\hlsl++_vector_float.h(1329,23): error C2059: syntax error: ')'
1>D:\Bsc\SparseVoxelDAGs\NativePluginSource\hlslpp-3.1\include\hlsl++_vector_float.h(1329,63

[2022-01-31 14:17] redorav commented on #55
Ok I see the issue. It's choking on the function min and max. I wonder, do you have them defined or are you including windows.h in the same file? Windows has this silly legacy thing where they define min and max and basically will break the library. What you need to do is put #undef min and #undef max after you include the windows header.

[2022-01-31 14:31] xXPancakeXx commented on #55
I never explicitly included windows.h anywhere and neither defined it myself, but I am using min and max in my code. It seems to be a macro of some sort and it is defined in minwindef.h in another library which probably uses windows.h.

I have now provided an undef for both before the inclusion of hlsl++.h and it compiles now. Amazing :). This should probably go into the installation side nodes, b

[2022-01-31 15:47] redorav commented on #55
That is true, I'll make a note of it. Unfortunately there's not a lot else I can do from my side, tbh Windows should get rid of all their silly macros but that's not going to happen :)

I'm glad I could be of help.

[2022-01-31 15:50] #55 closed

[2022-01-31 15:59] xXPancakeXx commented on #55
Wouldnt it be possible to just add the #undef in your hlsl++.h at the beginning, and to just make sure that hlsl++.h is included after all libraries which require these macros? Anyways I guess it's fine as long as you mention it somewhere.

[2022-01-31 16:06] redorav commented on #55
I hear you, but this is broken for things like std::min and std::max as well, I'd rather not introduce behavior that could confuse someone even more (std::min and std::max work but only when including hlsl++ or something like that). I've added a mention in the landing page. Ultimately, I think the correct and consistent solution is to force windows to not declare those macros, globally for the pro

[2022-05-11 12:35] plekakis opened #56 "uint1/2/3/4 store/load"
Currently there's no store/load for uint types, is this planned on being implemented?

[2022-05-13 03:44] redorav commented on #56
Hi Akis, thanks for the message. There's no particular reason those aren't implemented and it would take no time to do.

I'm taking care of family matters at the moment and I don't know when I'll be able to look at it. If you're feeling brave you could submit a PR, otherwise you could make it work locally and update later.

[2022-05-13 16:51] plekakis commented on #56
Thanks for replying, I am also very busy and unlikely to be able to look into this.
I will wait, as it's not urgent at this moment :)

[2022-05-17 07:13] plekakis opened #57 "Cast between types"
Currently there is no way to cast between different types. For example, it is very useful in HLSL to take the 3x3 top-left part of a 4x4 matrix:
`float3x3 m1 = (float3x3)m0;`

It would be nice to have a similar way to do such operations, either by a user defined conversion function or even additional constructors.

[2022-05-18 10:12] redorav commented on #57
Hi Akis, that is definitely a good idea and simple to implement too. Downcasting is probably faster than upcasting as we don't need to ensure contents (e.g. from 3x3 to 4x4 we probably want to set (0,0,0,1) for the last column)

Same comment applies as the last report, I'll definitely come to it as soon as I can but you're welcome to implement locally and replace with my implementation when I get

[2022-05-31 08:02] redorav commented on #56
Fixed via d46dbf208b2701e92f59dc85dbb907aabd874cf6

[2022-05-31 08:02] #56 closed

[2022-05-31 15:49] plekakis commented on #57
That seems fine, thank you very much!

[2022-05-31 15:51] redorav commented on #57
Excellent, closing now :) Anything else let me know

[2022-05-31 15:51] #57 closed

[2022-07-12 17:15] fstrugar opened #58 "Memory packing difference C++ <-> HLSL"
Unlike in HLSL, HLSL++ will still pack all types in 16b n128, even if running in HLSLPP_SCALAR. That breaks the C++<->HLSL interop with constant/structured buffer packing which is an useful use case. Any ideas on how it could be (easily) hacked to support HLSL-like alignment? :) Thanks!

[2022-07-12 18:07] redorav commented on #58
Hi @fstrugar, that is indeed a limitation of the system. In SIMD mode it would be impossible to do, because internally all types are 16 bytes as you've observed. In HLSLPP_SCALAR it would in theory be possible, if you changed the n128 type and made it so that there's n128, n64, n32 or something like that. I don't think it's an easy change though although I could be mistaken.

What I've ended up do

[2022-07-12 21:31] fstrugar commented on #58
Thanks! Yeah I'm currently using something like the shader::float3 as you suggested, and HLSL++ looked like it could clean & unify that up, as well as provide full interop on math functions. I'll play around a bit, see what happens, thanks for the quick answer, much appreciated!

[2022-07-13 09:02] redorav commented on #58
Yeah I don't know, maybe a header called hlsl++_interop would be useful so that not everyone has to write the same code many times. Let me know how your experience goes and what problems you encounter, it could guide a future implementation.

[2022-07-18 09:25] egorodet opened #60 "Integer vector division is working incorrectly on Macs with Apple M1 (ARM)"
Signed and unsigned integer vector division operators both for scalar and vector divisors are working incorrectly when compiled for Apple M1 on MacOS >= 11. Here's an example of failed Catch tests for a wrapper class [Point<T,size>](https://github.com/egorodet/MethaneKit/blob/develop/Modules/Data/Types/Include/Methane/Data/Point.hpp) in my project for HLSL++ vector. It is also reproducible under P

[2022-07-18 09:41] egorodet opened #61 "Integer vector comparison is working incorrectly on Intel based Macs with MacOS >= 11"
Signed and unsigned integer vectors comparison operators (==, <,  >) seem to be working incorrectly in some cases on Intel-based Macs. This is reproducible in CI system of my project which is testing wrapper class [Point<T,size>](https://github.com/egorodet/MethaneKit/blob/develop/Modules/Data/Types/Include/Methane/Data/Point.hpp) around HLSL++ vector in Azure Pipelines running on Macs with x86_64

[2022-07-18 10:02] egorodet opened #62 "Improve HLSL++ unit tests by using full-featured testing framework"
Current approach to [unit testing in HLSL++](https://github.com/redorav/hlslpp/tree/master/src) has not enough flexibility to find regressions in Release builds and reporting them in CI build system. HLSL++ unit tests are checking test results with [assert](https://en.cppreference.com/w/cpp/error/assert) function which works only in Debug builds and is excluded from Release builds (where `NDEBUG`

[2022-07-18 19:46] redorav commented on #60
Hi @egorodet, it is a known issue that integer division is broken. There are no intrinsics for integer division and when I sat down to find a solution I couldn't find anything that wasn't a bit of a monster and left it for the future. Currently all it does is cast to float, divide and cast back which obviously isn't very good.

I had an issue open already, I'll close that one and track here instea

[2022-07-18 19:46] redorav commented on #60
Copying original comment from the other bug:

[2022-07-18 19:47] #46 closed

[2022-07-18 20:00] egorodet commented on #60
Hi @redorav, yes I see that current implementation is not perfect, but it seems to work in most cases on x86/64 architecture, but gives completely wrong results on ARM (Apple M1 in my case). So additionally to existing issue, there's something wrong in the NEON implementation of the current workaround.

[2022-07-18 20:05] egorodet commented on #60
I added workaround in the code of my wrapper class `Point`, so it should not be a stopper for me. It's up to you if it's better to keep or close this issue. I'm fine with description of the existing issue, just want to raise its priority because current implementation could give wrong results.

[2022-07-22 16:14] redorav commented on #60
I've fixed division in NEON, the explanation for why it was broken is here f8ebd874c8fdb5328c0c21e4b7fc8740e7b30540. Let me know if this is still an issue for you. It is "fixed" in the sense that it is consistent with SSE now, but the issue of large integers remains.

[2022-07-22 16:14] #60 closed

[2022-07-22 16:16] redorav commented on #62
This is something I've wanted to do for some time now (including performance tests) but haven't really got around to doing. I'll keep this bug open and see when I can get on it.

[2022-07-22 16:18] redorav commented on #61
Unfortunately I cannot seem to repro this on my Android phone (ARM 64 configuration) so I'm a bit at a loss as to what can be going wrong here. Also the equality operator is pretty simple. Can you give a bit more detail on this?

[2022-07-22 16:33] egorodet commented on #61
This issue is reproducible on **Intel x86_64** architecture (not ARM), and only on MacOS >= 11. As I mentioned, it was working fine on MacOS 10.15. It looks very strange because the same SSE-based integer vectors comparison works fine on Windows and Linux. I don't know why it happens, but it is proved with unit testing results in Azure Devops available by the links in previous message.

[2022-07-22 17:40] redorav commented on #61
Ah I see what you mean. I'll have to get hold of a machine like you describe somehow then, or maybe a virtual machine.

[2022-07-22 20:45] egorodet commented on #60
@redorav Thanks for quick turnaround! My tests are passing fine with this update on M1 ✅

[2022-07-22 20:47] redorav commented on #60
Thank you for detailed report, hlsl++ is a lot better thanks to your efforts

[2022-08-16 18:59] plekakis opened #63 "Matrix accessor operator"
Hey again and thank you for your hard work on this!
I do have another feature which would prove helpful when sharing codebase between HLSL and C++, that is matrix accessor operators, so it's conforming to how HLSL deals with it.

float4x4 m = { .... }
m[0][0] = 5;
m[0][1] = 2;
...
etc

[2022-08-16 20:48] redorav commented on #63
Hi again @plekakis, thanks for the request! I have been toying around with the code and I think it can be implemented, with the following restrictions:

- It will only be implemented for float4x4 and float3x3 matrices, which are the most common matrices anyway. float2x2 cannot be implemented because the physical layout of float2 doesn't match the physical layout of float2x2 (because a float2x2 is

[2022-08-16 20:49] redorav commented on #20
Close in favor of https://github.com/redorav/hlslpp/issues/63

[2022-08-16 20:49] #20 closed

[2022-08-16 20:53] plekakis commented on #63
Hey, I think that is sensible, yes.
Those types will be enough!

[2022-08-18 19:42] redorav commented on #63
@plekakis Let me know if that works for you or if there's anything else you need

Closed via c275bcf830c0472f04269121ef4d3e161f7747f1

[2022-08-18 23:51] redorav commented on #63
Unfortunately it looks like what I've done has upset gcc. I need to find an alternative

[2022-08-19 16:52] redorav commented on #63
Fixed via 165fe75049b198d26146f7fff1b699d7adf6318f

I just noticed that GCC in AVX will be broken for the same reason. Since I don't test it I wasn't really aware. This is related to the swizzles. I wonder if there's anything else I can do. Unrelated to this bug but I'll leave a note.

[2022-08-19 16:52] #63 closed

[2022-08-21 09:24] rujialiu opened #65 "operator / (float1, float3) looks inverted"
Hi!

Thanks for the awesome library! I've successfully ported some non-trivial hlsl codes to hlslpp to use in C++. It's really handy. Most things work out of the box, though some times I had to manually change float to float1 to use hlslpp functions but that's ok. The only thing that took me some time to figure out is that the operator / (float1, float3) looks inverted. Changed my code from `f1 /

[2022-08-21 10:38] redorav commented on #65
Hi @rujialiu, thanks for reporting this! I'm glad you're finding the library useful for your shader work.

As for the bug, it's a copy paste error on my part, it was quite repetitive to create all those operators and that one slipped through. It's fixed in bf7df71e463470427f647992654c132cdef6dc35

As for changing float to float1, I don't know if you want to post your shader and we can work out how

[2022-08-21 10:38] #65 closed

[2022-08-21 11:35] rujialiu commented on #65
Wow, thanks for your quick reply & fix! Here is a very typical instance of the float1 issue I mentioned:
<pre>
float Luma = ...;
color = lerp( Luma.xxx, color, saturation.xyz );
</pre>

I changed to `float1 Luma = ...`

[2022-08-22 13:57] redorav commented on #65
Hi @rujialiu,

This is down to overloaded operators missing. I can add some for lerp, but if you are able to come up with a good list of functions that don't have them I can try to make your life a bit easier.

[2022-08-23 01:52] rujialiu commented on #65
Hi! Could you elaborate? It looks like Luma.xxx itself would cause compile error. If you can show me (with code) the way to solve this particular issue, I can do this for the rest and make a PR :)

[2022-08-23 10:17] redorav commented on #65
Oh I see what you mean! Calling .xxx on an actual float, yeah I don't think that's at all possible in C++. For some reason I thought you were casting to float1 and calling .xxx because passing in just the float wasn't working.

[2022-08-23 13:31] rujialiu commented on #65
Hi!

I found a very ugly but working solution (myshader.hlsl is ALMOST unchanged, see below):

[code]

Here hlslpp_extra.hpp is this (all of these are need to avoid compile error), you can choose some and add (with your modifications) to hlslpp:

[code]

As mentioned above, the only thing I still have to change the following (by removing the equal sign):

[code]

[2022-08-23 14:52] redorav commented on #65
That define is pretty horrible 😄 I don't think I can put that as part of the general library unfortunately. I wonder whether a pair of helper header files that are included such as

[code]

could help at all?

On the other hand, I'm noticing that you've had to put overloads for double, which is telling me that you must write float literals without the f. I think that is something that can probably

[2022-08-24 02:02] rujialiu commented on #65
a pair of helper header files is a lot better!

Sure. Some thing like `if(hue > 180.)`.

I've finished porting this time but since it looks like a good way to unit testing / debugging 3rd-party shaders, I think I'll expore more ways of using this library later 8-) Thanks again!

[2022-10-11 08:08] plekakis commented on #63
Thank you, I will test it at some point today and let you know!Looks good though.On Aug 18, 2022, at 8:42 PM, redorav ***@***.***> ***@***.*** Let me know if that works for you or if there's anything else you needClosed via c275bcf—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>